{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Sign In</h1>
            <form action="{{ path_for('auth.signin') }}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control {{ errors.email ? 'is-invalid' : '' }}" value="{{ old.email }}">
                    {% if errors.email %}
                        <div class="invalid-feedback">{{ errors.email | first }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="email">Password</label>
                    <input type="password" name="password" class="form-control {{ errors.password ? 'is-invalid' : '' }}">
                    {% if errors.password %}
                        <div class="invalid-feedback">{{ errors.password | first }}</div>
                    {% endif %}
                </div>

                {{ csrf.field | raw }}
                <input type="submit" class="btn btn-primary" value="Sign In">
            </form>
        </div>
    </div>
{% endblock %}