{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>Change Password</h1>
        <form action="{{ path_for('auth.password.change') }}" method="post">
            <div class="form-group">
                <label for="email">Current Password</label>
                <input type="password" name="password_old" class="form-control {{ errors.password_old ? 'is-invalid' : '' }}">
                {% if errors.password_old %}
                <div class="invalid-feedback">{{ errors.password_old | first }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">Password</label>
                <input type="password" name="password" class="form-control {{ errors.password ? 'is-invalid' : '' }}">
                {% if errors.password %}
                    <div class="invalid-feedback">{{ errors.password | first }}</div>
                {% endif %}
            </div>

            {{ csrf.field | raw }}
            <input type="submit" class="btn btn-primary" value="Change Password">
        </form>
    </div>
</div>
{% endblock %}