{% extends 'templates/app.twig' %}

{% block content %}
    <h1>Pond List</h1>
    <table class="table" cellspacing="0" border="1">
        <tr>
            <th>Name</th>
            <th>Kois</th>
            <th>API Key</th>
            <th>API Secret</th>
        </tr>
        {% for pond in ponds %}
            <tr>
                <td><a href="{{ path_for('pond.view', {'id': pond.id}) }}">{{ pond.name }}</a></td>
                <td>{{ pond.kois|length }}</td>
                <td>{{ pond.api_key }}</td>
                <td>{{ pond.api_secret }}</td>
            </tr>
        {% endfor %}
        {% if ponds is empty %}
            <tr>
                <td colspan="4">You do not have any ponds.</td>
            </tr>
        {% endif %}
    </table>
    <a href="{{ path_for('pond.create') }}" class="btn btn-primary">Create Pond</a>
    <br><br>
    <h1>Instructions</h1>
    <p>For each request, the server will check the authorization header to make sure it is a valid request. The following is what is to make up the authorization header:</p>
    <ol>
        <li>Create a string made up of the secret and today's date in Y-m-d format
            <pre>2447df744f0a857f929da443bfb7a0e82018-05-10</pre>
        </li>
        <li>Hash the string using MD5
            <pre>b3c94398defde45391ae43caff4d7d0d</pre>
        </li>
        <li>Append to the API key with a colon
            <pre>0cbc6611f5540bd0809a388dc95a615b:b3c94398defde45391ae43caff4d7d0d</pre>
        </li>
        <li>Base 64 encode the string
            <pre>MGNiYzY2MTFmNTU0MGJkMDgwOWEzODhkYzk1YTYxNWI6YjNjOTQ[...]</pre>
        </li>
        <li>Add the word "Basic " to the beginning
            <pre>Basic MGNiYzY2MTFmNTU0MGJkMDgwOWEzODhkYzk1YTYxNWI6YjNjOTQzOThkZWZkZTQ[...]</pre>
        </li>
        <li>Set that as the HTTP request's authorization header</li>
    </ol>
    <p>PHP Example: </p>
    <pre>
$key = '5f383930bac287f7d5cf60a098190161';
$secret = '770da59cb8371a46e5f49a884cc927a2';
$hash = md5($secret . date('Y-m-d'));
$usrpwd = $key . ':' . $hash;
$token = 'Basic ' . base64_encode($usrpwd);

$data = [
    'email' => 'katekat@mail.com',
    'username' => 'kate64',
    'password' => 'qwerty',
];

$url = 'http://coco.lat/koi-auth/public/api/user/create';
$ch = curl_init();
curl_setopt($ch, CURLOPT_URL,$url);
curl_setopt($ch, CURLOPT_RETURNTRANSFER,1);
curl_setopt($ch, CURLOPT_POST,true);
curl_setopt($ch, CURLOPT_HTTPHEADER, array('Authorization: ' . $token));
curl_setopt($ch, CURLOPT_POSTFIELDS, $data);
$result = curl_exec($ch);
curl_close($ch);  
echo($result);
    </pre>
    <h1>Available Endpoints</h1>
    <ul>
        <li><pre>http://coco.lat/koi-auth/public/api/user/create</pre> for creating users
            <br>The body of the request should contain:
            <ul>
                <li><b>email</b></li>
                <li><b>username</b></li>
                <li><b>password</b></li>
            </ul>
        </li>
        <li><pre>http://coco.lat/koi-auth/public/api/user/login</pre> for logging in users
            <br>The body of the request should contain:
            <ul>
                <li><b>email</b></li>
                <li><b>password</b></li>
            </ul></li>
    </ul>
{% endblock %}