{% if auth.check %}
    <a class="inherit" href="{{ path_for('auth.password.change') }}">Change Password</a> &middot;
    <a class="inherit" href="{{ path_for('pond.list') }}">My Ponds</a> &middot;
    <a class="inherit" href="{{ path_for('auth.signout') }}">Sign Out</a>
{% else %}
    <a class="inherit" href="{{ path_for('auth.signup') }}">Sign Up</a> &middot;
    <a class="inherit" href="{{ path_for('auth.signin') }}">Sign In</a>
{% endif %}